<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Agenda de citas</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin: 15px">
    <div class="row">
      <div class="col">
        @if (this.currentUser.rol ==='CLIENTE') {
        <label>Sucursal</label>
        <mat-form-field style="width: 300px; display: block">
          <mat-select
            [(value)]="selected"
            (selectionChange)="getCitasSucursalCliente($event.value)"
          >
            <mat-option [value]="0"> -- Seleccione una Sucursal -- </mat-option>
            <mat-option
              *ngFor="let sucursal of sucursales"
              [value]="sucursal.id"
            >
              {{ sucursal.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
      </div>
    </div>

    <div class="row">
      <div class="col">
        <dx-scheduler
          [dataSource]="citas"
          [views]="['week']"
          [currentView]="'week'"
          [currentDate]="currentDate"
          [height]="700"
          [cellDuration]="30"
          [showAllDayPanel]="false"
          dataCellTemplate="dataCellTemplate"
          appointmentTemplate="appointment-template"
          appointmentTooltipTemplate="tooltip-template"
          (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
          (onAppointmentAdding)="onAppointmentAdding($event)"
          (onAppointmentUpdating)="onAppointmentUpdating($event)"
        >
          <dxi-resource
            fieldExpr="estadoId"
            [useColorAsDefault]="true"
            [dataSource]="estados"
          >
          </dxi-resource>

          <div *dxTemplate="let model of 'appointment-template'">
            <div class="showtime-preview">
              @if(currentUser.rol === 'CLIENTE'){
              @if(model.appointmentData.clienteId === clienteId){
              <div>
                <strong>{{
                  (
                    getMascotaById
                    | apply : model.appointmentData.mascotaId : this
                  ).nombre
                }}</strong>
              </div>
              <div>
                {{
                  (
                    getServicioById
                    | apply : model.appointmentData.servicioId : this
                  ).nombre
                }}
              </div>
              }@else{
              <div><strong>Espacio no disponible </strong></div>
              } }@else{
              <div>
                <strong>{{
                  (
                    getMascotaById
                    | apply : model.appointmentData.mascotaId : this
                  ).nombre
                }}</strong>
              </div>
              <div>
                {{
                  (
                    getServicioById
                    | apply : model.appointmentData.servicioId : this
                  ).nombre
                }}
              </div>
              }
            </div>
          </div>

          <div *dxTemplate="let model of 'tooltip-template'">
            <ng-container
              *ngIf="getCitaById | apply : model.appointmentData.id as cita"
            >
              <div class="movie-tooltip">
                @if(currentUser.rol === 'CLIENTE'){ 
                  @if(clienteId === cita.clienteId){
                <div class="movie-info">
                  <div class="movie-title">
                    {{ cita.mascota.nombre }}
                  </div>
                  <div>
                    {{ "Edad: " + cita.mascota.edad + " años" }}
                  </div>
                  <div>
                    {{ "Dueño: " + cita.cliente.nombre }}
                  </div>
                  <div>
                    {{ "Servicio: " + cita.servicio.nombre }}
                  </div>
                  <div>
                    {{ "Padecimientos: " + cita.padecimientos }}
                  </div>
                  <div>
                    {{ "Alergias: " + cita.alergias }}
                  </div>
                  <div>
                    {{ "Observaciones: " + cita.observaciones }}
                  </div>
                  <div>
                    {{ "Estado: " + cita.estado.nombreEstado }}
                  </div>
                </div>
                }
                @else{
                <div class="movie-info">
                  <div class="movie-title">El espacio no se encuntra disponible</div>
                </div>
                } 
              }@else{
                <div class="movie-info">
                  <div class="movie-title">
                    {{ cita.mascota.nombre }}
                  </div>
                  <div>
                    {{ "Edad: " + cita.mascota.edad + " años" }}
                  </div>
                  <div>
                    {{ "Dueño: " + cita.cliente.nombre }}
                  </div>
                  <div>
                    {{ "Servicio: " + cita.servicio.nombre }}
                  </div>
                  <div>
                    {{ "Padecimientos: " + cita.padecimientos }}
                  </div>
                  <div>
                    {{ "Alergias: " + cita.alergias }}
                  </div>
                  <div>
                    {{ "Observaciones: " + cita.observaciones }}
                  </div>
                  <div>
                    {{ "Estado: " + cita.estado.nombreEstado }}
                  </div>
                </div>
                }
              </div>
            </ng-container>
          </div>

          <div
            *dxTemplate="let dataCell of 'dataCellTemplate'"
            [ngClass]="{
              'disable-date': (isDisableDate | apply : dataCell.startDate)
            }"
          >
            {{ "" }}
          </div>

          
        </dx-scheduler>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row"></div>
  </mat-card-actions>
</mat-card>
