
<mat-toolbar color="primary">
  <button
    mat-button
    matTooltip="Inicio"
    [routerLink]="['/inicio']"
    routerLinkActive="link-active"
  >
  <img
        src="/assets/images/GestaPet.png"
        alt="GestaPet Logo"
        width="40px"
        height="40px"
        class="logo-centered"
      />
  </button>

  
  <!-- Menú Inicio -->
  <button mat-button [matMenuTriggerFor]="menu1">Inicio</button>
  <mat-menu #menu1="matMenu">
    <button
      mat-menu-item
      [routerLink]="'/sucursal'"
      [routerLinkActive]="'link-active'"
    >
      Sucursales
    </button>
    <button
      mat-menu-item
      [routerLink]="['/producto']"
      routerLinkActive="link-active"
    >
      Productos
    </button>
   
    <button
      mat-menu-item
      [routerLink]="['servicio-catalogo']"
      routerLinkActive="link-active"
    >
      Servicios
    </button>
    <button
      mat-menu-item
      [routerLink]="['/acerca-de']"
      routerLinkActive="link-active"
    >
      Acerca de
    </button>



  </mat-menu>


  @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR') {  
  <!-- Menú Mantenimientos -->
  <button mat-button [matMenuTriggerFor]="menu2">Mantenimientos</button>
  <mat-menu #menu2="matMenu">
    <button
      mat-menu-item
      [routerLink]="'/producto-table'"
      [routerLinkActive]="'link-active'"
    >
      Producto
    </button>
    <button
      mat-menu-item
      [routerLink]="'/sucursal-table'"
      [routerLinkActive]="'link-active'"
    >
      Sucursal
    </button>
    <button
      mat-menu-item
      [routerLink]="'/servicio-table'"
      [routerLinkActive]="'link-active'"
    >
      Servicio
    </button>

    <button
      mat-menu-item
      [routerLink]="['/horario']"
      routerLinkActive="link-active"
    >
      Horarios
    </button>
  </mat-menu>
}



@if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR' || this.currentUser?.rol === 'CLIENTE') {  
  <!-- Menú Facturación -->
  <button mat-button [matMenuTriggerFor]="menu3">Facturación</button>
  <mat-menu #menu3="matMenu">

  

    @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR') {  
    <button
      mat-menu-item
      [routerLink]="['factura/create']"
      routerLinkActive="link-active"
    >
      Crear Factura
    </button>

  }

  


  @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR') {  

    <button
      mat-menu-item
      [routerLink]="['factura/proforma']"
      routerLinkActive="link-active"
    >
      Ver Facturas
    </button>

  }

  @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR') {  

    <button
    mat-menu-item
    [routerLink]="['/factura']"
    routerLinkActive="link-active"
  >
    Historico Facturacion
  </button>

}

@if (this.currentUser?.rol === 'CLIENTE' ) {  
  <button
  mat-menu-item
  [routerLink]="['/factura/cliente']"
  routerLinkActive="link-active"
>
  Facturas 
</button>

}


  </mat-menu>
}
  

  @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR') {  

  <!-- Menú Reportes -->
  <button mat-button [matMenuTriggerFor]="menu4">Reportes</button>
  <mat-menu #menu4="matMenu">
    <button
      mat-menu-item
      [routerLink]="['reporte-citas-sucursal']"
      routerLinkActive="link-active"
    >
      Citas del día
    </button>
    <button
      mat-menu-item
      [routerLink]="['/reportProducto']"
      routerLinkActive="link-active"
    >
      Reporte de Productos
    </button>
    <button
      mat-menu-item
      [routerLink]="['reportServicio']"
      routerLinkActive="link-active"
    >
      Reporte de Servicios
    </button>

    <button
    mat-menu-item
    [routerLink]="['reporte-citas-estado']"
    routerLinkActive="link-active"
  >
    Reporte de Citas por Estado
  </button>

  <button
      mat-menu-item
      [routerLink]="['reserva']"
      routerLinkActive="link-active"
    >
      Reserva
    </button>

  

  </mat-menu>
  }
  

  <!-- Espaciador para empujar el contenido a la derecha -->

  @if (this.currentUser?.rol === 'ENCARGADO' || this.currentUser?.rol === 'ADMINISTRADOR' ||  this.currentUser?.rol === 'CLIENTE') {  

  <button mat-button [matMenuTriggerFor]="menu5">Citas</button>
  <mat-menu #menu5="matMenu">
   <button mat-menu-item [routerLink]="['/agendar']" [routerLinkActive]="'link-active'" title="Agendar uan cita">Agendar</button>
  </mat-menu>

}


@if (this.currentUser?.rol === 'CLIENTE') {  

  <button mat-button [matMenuTriggerFor]="menu7">Mascota</button>
  <mat-menu #menu7="matMenu">
   <button mat-menu-item [routerLink]="['/mascota/create']" [routerLinkActive]="'link-active'" title="Agendar uan cita">Agregar Mascota</button>
  </mat-menu>

}


  <!--enlaces de la app-->
  <!--https://material.angular.io/guide/typography-->

  <span class="example-spacer"></span>

  <span class="mat-caption" *ngIf="isAuthenticated">{{currentUser?.correoElectronico}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu6">
    <mat-icon [ngStyle]="{'color':isAuthenticated ? '#7E9BEF': '##FFFFFF'}">person</mat-icon>
  </button>
  <mat-menu #menu6="matMenu">
    @if (!isAuthenticated) {
    <button mat-menu-item (click)="login()">
      <mat-icon>person_add</mat-icon>
      <span>Login</span>
    </button>
   }
   @else{
    <button mat-menu-item (click)="logout()">
      <mat-icon>person_remove</mat-icon>
      <span>Logout</span>
    </button>
   }
  </mat-menu>


</mat-toolbar>
