<img
  src="/assets/images/GestaPet.png"
  alt="image"
  width="8%"
  style="display: inline"
/>
<mat-toolbar color="primary">
  <button
    mat-button
    matTooltip="Inicio"
    [routerLink]="['/inicio']"
    routerLinkActive="link-active"
  >
    <h4>GestaPet</h4>
  </button>

  <button mat-button [matMenuTriggerFor]="menu1">Inicio</button>
  <mat-menu #menu1="matMenu">
    <button
      mat-menu-item
      [routerLink]="['/inicio']"
      routerLinkActive="link-active"
    >
      Inicio
    </button>
    <button
      mat-menu-item
      [routerLink]="['/producto']"
      routerLinkActive="link-active"
    >
      Productos
    </button>
    <button
      mat-menu-item
      [routerLink]="['/factura']"
      routerLinkActive="link-active"
    >
      Facturas
    </button>
    <button
      mat-menu-item
      [routerLink]="['/reserva']"
      routerLinkActive="link-active"
    >
      Reservas
    </button>
    <button
      mat-menu-item
      [routerLink]="['/acerca-de']"
      routerLinkActive="link-active"
    >
      Acerca de
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu2">Mantenimientos</button>
  <mat-menu #menu2="matMenu">
    <button
      mat-menu-item
      [routerLink]="'/producto-table'"
      [routerLinkActive]="'link-active'"
    >
      Producto
    </button>
    <button
      mat-menu-item
      [routerLink]="'/sucursal-table'"
      [routerLinkActive]="'link-active'"
    >
      Sucursal
    </button>
    <button
      mat-menu-item
      [routerLink]="'/servicio-table'"
      [routerLinkActive]="'link-active'"
    >
      Servicio
    </button>
    <button
      mat-menu-item
      [routerLink]="['/horario']"
      routerLinkActive="link-active"
    >
      Horarios
    </button>
  </mat-menu>
  <!--enlaces de la app-->
  <!--https://material.angular.io/guide/typography-->
  <div class="example-spacer"></div>
</mat-toolbar>
