<div *ngIf="datos?.sucursal">
    <div class="grid-container">
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ datos.sucursal.nombre }}</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="home-card-content">
          <div class="content-wrapper">
            <!-- Información de la sucursal -->
            <div class="branch-details">
              <div>
                <p>Descripción: {{ datos.sucursal.descripcion }}</p>
              </div>
              <div>
                <p>Teléfono: {{ datos.sucursal.telefono }}</p>
                
              </div>
              <div>
                <p>Dirección: {{ datos.sucursal.direccion }}</p>
                
              </div>
              <div>
                <p>Correo Electrónico: {{ datos.sucursal.correoElectronico }}</p>
                
              </div>
              <div>
                <p>Encargados:</p>
                <ul>
                  <li *ngFor="let encargado of datos.sucursal.usuarios">
                    {{ encargado.nombre }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  