.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.home-card {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.home-card-content {
  display: flex; /* Cambiamos a flex para que los elementos internos se alineen horizontalmente */
  padding: 1.5em;
}

.content-wrapper {
  display: flex;
  align-items: flex-start; /* Alinear elementos hacia arriba */
}

.photo-placeholder {
  width: 150px; /* Ancho de la foto (ajustar según necesidades) */
  height: 150px; /* Alto de la foto (ajustar según necesidades) */
  background-color: #e0e0e0; /* Color de fondo temporal */
  margin-right: 20px; /* Espacio a la derecha de la foto */
}

.product-details {
  flex-grow: 1; /* Permitir que este contenedor crezca para ocupar el espacio disponible */
}

.price, .stock {
  font-weight: 400;
  font-size: 1em;
  text-align: left; /* Alinear el precio y el stock a la izquierda */
}
