@if(datos){
  <div class="grid-container">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ datos?.nombre }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="home-card-content">
        <div class="content-wrapper">
          <!-- Imagen del producto -->
          <div class="photo-placeholder">
            <img
              mat-card-image
              [src]="'../../assets/images/' + datos?.imagen"
              [alt]="datos?.nombre"
              style="width: 100%; height: 100%; object-fit: cover;"
            />
          </div>
          <!-- Información del producto -->
          <div class="product-details">
            <div>
              <p>Descripción:</p>
              <p>{{ datos?.descripcion }}</p>
            </div>
            <div>

              <div class="categoria">
                Categoria: {{ datos?.categoria }}
              </div>
            </div>
            <div>
              <p class="price">Precio: {{ datos?.precio | currency : "USD" }}</p>
            </div>
            <div>
              <mat-chip-listbox aria-label="Proveedor">
                <mat-chip-grid role="list">
                 
                    <mat-chip highlighted color="accent">Proveedor: {{ datos?.proveedor }}</mat-chip>
                  
                </mat-chip-grid>
              </mat-chip-listbox>
            </div>
            <div>
              <p class="stock">Stock: {{ datos?.stock }}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}
